<html>
  <head>
    <title>Event Management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between">
          <a class="jc-center flex" href="/">
            <img class="logo" src="/images/logo.png" alt="Logo" />
            <h2>INFINITY</h2>
          </a>
          <nav>
            <ul class="flex jc-around">
              <li>
                <a href="/about"> About Us </a>
              </li>
              <li>
                <a href="/gallery"> Gallery </a>
              </li>
              <li>
                <a href="/events"> Events </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1>Welcome to Infinity Event Management</h1>
      </div>
    </header>
    <section class="container space flex">
      <form
        class="edit-form flex-60"
        action="/events/<%= event.id %>"
        method="post"
      >
        <h2>Update Event Detail</h2>
        <input
          type="text"
          name="title"
          placeholder="Enter Title"
          value="<%= event.title %>"
        />
        <textarea name="summary" rows="4" placeholder="Summary">
          <%= event.summary %></textarea
        >
        <input
          type="text"
          name="host"
          placeholder="Enter Host"
          value="<%= event.host %>"
        />
        <input
          type="date"
          name="start_date"
          placeholder="Start Date"
          value="<%= event.start_date %>"
        />
        <input
          type="date"
          name="end_date"
          placeholder="End Date"
          value="<%= event.end_date %>"
        />
        <input
          type="text"
          name="category"
          placeholder="Event Category"
          value="<%= event.category %>"
        />
        <input
          type="text"
          name="location"
          placeholder="Location"
          value="<%= event.location %>"
        />
        <input
          type="number"
          name="likes"
          placeholder="Likes"
          value="<%= event.likes %>"
        />
        <button type="submit">Update article</button>
      </form>
      <div class="flex-30">
        <img class="gallery-img" src="/images/gallery/14.jpg" alt="Image" />
        <img class="gallery-img" src="/images/gallery/10.jpg" alt="Image" />
      </div>
    </section>
    <footer>
      <div>
          <small>&copy; All CopyRights Reserved 2022</small>
      </div>
  </footer>
  </body>
</html>
